@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
:root {
    --nav-color: #efe0ce;
    --green-hover: #0f8e0d;
    --text-color: #363636;
}
@media screen and (max-width: 768px) {
    .list li{
        visibility: hidden;
        display: none;
    }
    
    .list.show {
        height: 400px;
        flex-direction: column;   
    }
    .list.show li{
        display: flex;
        visibility:visible;
    }
    .menu-burger{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-burger .burger-linear{
        width: 2rem;
        height: 0.25rem;
        background-color: var(--text-color);
        border-radius: 4px;
        transition: all 0.4s ease;
    }
    .menu-burger .burger-linear::after,
    .menu-burger .burger-linear::before{
        width: 2rem;
        height: 0.25rem;
        position:absolute;
        background-color: var(--text-color);
        border-radius: 4px;
        content: "";
        transition: all 0.4s ease;
    }
    .menu-burger .burger-linear::after{
        transform: translateY(-0.6rem);
    }
    .menu-burger .burger-linear::before{
        transform: translateY(0.6rem);
    }
    .menu-burger.open .burger-linear{
        transform: translateX(1.5rem);
        background-color: transparent;
    }
    .menu-burger.open .burger-linear::after{
        transform: translate(-2rem,0) rotate(45deg);
    }
    .menu-burger.open .burger-linear::before{
        transform: translate(-2rem,0) rotate(-45deg);
    }

}
.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding:15px ;
    background-color: #fff;
    color: var(--text-color);
    z-index: 10;
}
.hover-fx{
    font-size: 22px;
    width:35px;
    height: 35px;
    background-color: #fff;
    border:solid var(--text-color) 1.5px;
    display: inline-block;
    cursor: pointer;
    margin: 0.5rem;
    transition: 350ms;
    border-radius: 50%;
    text-align: center;
    position: relative;
}
.hover-fx:hover{
    background-color:#797878b3;;
    color: #fff;
    border-color: #fff;
}
.hover-fx::after{
    width: 40px;
    height: 40px;
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
}
.social-icons a{
    color: var(--text-color);
}
.headerTitle{
    font-weight: 600;
    padding: auto;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.icons{
    width: 30px;
    height: 30px;
    margin: 0.5rem;
}
.list{
    width: 100%;
    height: 60px;
    list-style: none;
    display: flex;    /* changed from absolute */
    justify-content: center;
    align-items: center;
    background-color: var(--nav-color);
    color: var(--text-color);
    font-weight: 550;
    transition: all 0.5s ease;
}

.list li{
    display: flex;
    margin: 20px;
}
.list li:hover{
    cursor: pointer;
    color: var(--green-hover);
    transition: all 0.4s ease;
}

.menu-burger{ 
    width: 2rem;
    height: 2rem;
    position: absolute;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}
 /* banner */
.banner{
    width: 100%;
    height: 80vh;
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text-color);
}
.banner-content{
    padding: 280px 70px;
}
.banner-title{
    font-size: 2.7rem;
    margin-bottom: 15px;
}
.banner-text {
    font-size: 1rem;
    margin-bottom: 50px;
}
.banner-btn {
    background-color: transparent;
    border: 3px solid #818181;
    padding: 2px 25px;
    transition: all 0.4s ease;
    font-weight: 600;

}
.banner-btn:hover {
    background-color: var(--green-hover);
    cursor: pointer;
}

/* cards */
.services {
    color:var(--text-color);
    text-align: center;
    justify-content: center;
    margin: 0 40px;
}
.services-title {
    font-size: 1.7rem;
    font-weight: 510;
    margin-top: 20px;
}
.services-card {
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    flex-wrap: wrap;
    /* width: 100%; */
    
}

.card {
    border: 1px solid #666666;
    width: 30%;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-width: 350px;
    max-width: 600px;
    border-radius: 2px;
}
/* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */
.card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.card .card-content {
    padding: 10px;
}
.card-content .card-title {
    margin-bottom: 8px;
    font-weight: 600;
    
}
.card-button{
    margin: 10px;
    padding: 0 15px;
    color: #0f8e0d;
    background-color: transparent;
    border: 1.5px solid #666666;
    transition: all 0.3s ease;
}
.card-button:hover{
    background-color: #797878b3;
    color: #fff;
    cursor: pointer;
    /* border-color: #0f8e0d; */
}
/* service offers */
.service-offers {
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0;
}
.offer-image {
    width: 100%;
    height: 200px;
    margin-bottom:-6px;
    border-radius:8px ;
}

.offer-card {
    border: 2px solid #666666;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.257);
    transition:all 0.3s ease;
    min-width: 350px;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    margin: 20px;
    overflow: hidden;
    
}
.offer-card::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
    background: linear-gradient(to bottom, rgba(96, 96, 96, 0),rgb(55, 55, 55));
    opacity: 0;
}
.offer-card:hover:after {
    opacity: 1;
    cursor: pointer;
}
.offer-card:hover {
   margin-top:10px ;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.427);
   color: #dddddd;
}

.offer-content {
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 100%;
    text-align: left;
    border-radius: 2px;
    margin: 5px;
    z-index: 10;
    opacity: 1;
}
.offer-content .card-button {
    margin-left: 0 ;
    cursor: pointer;
}

/* products section */
.products {
    text-align: center;
    justify-content: center;
    margin: 0 40px;
}

.products-title {
    font-size: 1.7rem;
    font-weight: 510;
    margin: 40px;
}
.products-cards {
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    flex-wrap: wrap;
    
}
.products-card {
    border: 1px solid #666666;
    width: 10%;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.257);
    transition:all 0.3s ease;
    min-width: 250px;
    max-width: 300px;
    border-radius: 2px;
    margin: 20px;
    
}
.products-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-bottom: 1px solid #9f9f9f;
}

.products-content {
    margin-bottom: 10px;
}
.products-content  h4{
    margin: 10px;
    font-size: 1.3rem;
    color: var(--text-color);
}

/* about section */
.about {
    text-align: center;
    justify-content: center;
}
.about img {
    width: 100%;
    max-height: 55vh;
}
.about-title {
    font-size: 1.7rem;
    font-weight: 510;
    margin:20px ;
}
.about-content {
    margin: 40px 80px 80px 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    gap:25px;
    grid-template-rows: 1fr;
}
.about-text{
    text-align: left;
    font-size: 15px;
    overflow-y: hidden;
    line-height: 27px;
}
.about-text .card-button{
    margin-top: 50px;
    margin-left: 0;
}
/* footer section start */

.footer {
    background-color: #0f0f0f;
    /* height: 280px; */
    color: #fcfcfc;
    text-align: center;
    padding: 50px;
    /* height: auto; */
}
.footer h3 {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 10px 0;
}
.footer .icons {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.footer .icons a {
    color: #fcfcfc;
    background-color: #474747;
    cursor: pointer;
}
.footer-text {
    margin: 20px;
    font-size: 15px;
    font-weight: 300;
}
.footer-link {
    color: #6161f5;
}