@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
:root {
    --nav-color: #efe0ce;
    --green-hover: #0f8e0d;
}
@media screen and (max-width: 768px) {
    .list li{
        visibility: hidden;
        display: none;
    }
    
    .list.show {
        height: 400px;
        flex-direction: column;   
    }
    .list.show li{
        display: flex;
        visibility:visible;
    }
    .menu-burger{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-burger .burger-linear{
        width: 2rem;
        height: 0.25rem;
        background-color: #000000;
        border-radius: 4px;
        transition: all 0.4s ease;
    }
    .menu-burger .burger-linear::after,
    .menu-burger .burger-linear::before{
        width: 2rem;
        height: 0.25rem;
        position:absolute;
        background-color: #000000;
        border-radius: 4px;
        content: "";
        transition: all 0.4s ease;
    }
    .menu-burger .burger-linear::after{
        transform: translateY(-0.6rem);
    }
    .menu-burger .burger-linear::before{
        transform: translateY(0.6rem);
    }
    .menu-burger.open .burger-linear{
        transform: translateX(1.5rem);
        background-color: transparent;
    }
    .menu-burger.open .burger-linear::after{
        transform: translate(-2rem,0) rotate(45deg);
    }
    .menu-burger.open .burger-linear::before{
        transform: translate(-2rem,0) rotate(-45deg);
    }

}
.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding:15px ;
    background-color: #fff;
    z-index: 10;
}
.hover-fx{
    font-size: 22px;
    width:35px;
    height: 35px;
    background-color: #fff;
    border:solid black 1.5px;
    display: inline-block;
    cursor: pointer;
    margin: 0.5rem;
    transition: 400ms;
    border-radius: 50%;
    text-align: center;
    position: relative;
}
.hover-fx:hover{
    background-color: #b4936d;
    color: #fff;
    border-color: #b4936d;
}
.social-icons a{
    color: #000;
}
.headerTitle{
    font-weight: 600;
    padding: auto;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.s-icons{
    width: 30px;
    height: 30px;
    margin: 0.5rem;
}
.s-icons:hover {
    background-color: var(--nav-color);
    cursor: pointer;
    border-radius: 50%;
}
.icons{
    width: 30px;
    height: 30px;
    margin: 0.5rem;
}
.list{
    width: 100%;
    height: 60px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-color);
    font-weight: 550;
    position: absolute;
    top: 80px;
    transition: all 0.5s ease;
}
.navigation{
    align-items: baseline;
}
.list li{
    display: flex;
    margin: 20px;
}
.list li:hover{
    cursor: pointer;
    color: var(--green-hover);
    transition: all 0.4s ease;
}

.menu-burger{ 
    width: 2rem;
    height: 2rem;
    position: relative;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}

/* .showToggle{
    display: flex !important;
} */
